.banner {
  color: white;
  height: 400px;
  background-position: centre;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }
}
